<div>
	<h2>A propos<h2>

		<h3>Algo :-)</h3>
		<blockquote>
			<p>Le système propose de prendre le vélo si le trajet est inférieur à 30 mins et si le temps n'est ni pluvieux / orageux / neigeux...
			</p>
		</blockquote>
		<h3>Les ressources utilisées</h3>
		<blockquote>
			<p><a href="https://developers.google.com/maps/documentation/directions/">The Google Directions API </a></p>
			<p><a href="http://openweathermap.org/">API openweather</a></p>
			<p><a href="http://forecastfont.iconvau.lt/">Police SVG météo</a></p>
			<p><a href="http://kozmic.github.io/angularjs-workshop/">Tutorial angular</a></p>
		</blockquote>

		<h3>TODO :</h3>
		<blockquote>
			<p>Enregistrer le parcours pour le récupérer lors de la naviation</p>
			<p>Mieux contrôler les valeurs du formulaire</p>
			<p>REFACTOR</p>
			<p>Commentaires...</p>
			<p>Tests</p>
		</blockquote>
	</div>