<div class="span12">
    <!--h4>Parmi les moyens suivants : </h4>
	<ul>
		<li ng-repeat="transport in transportations">{{transport}}</li>
	</ul-->
	<form>
		<fieldset>
			<legend>Formulaire d'itinéraire</legend>
			<label>De : </label>
			<input data-ng-model="inputData.from" type="text" placeholder="Départ...">

			<label>A : </label>
			<input data-ng-model="inputData.to" type="text" placeholder="Arrivée...">

		</fieldset>

		<button class="btn btn-primary" data-ng-click="searchNavigationGM()">Go !</button>

	</form>

	<div class="span3">
	    <fieldset ng-hide="!walkingValues">
	    	<legend>A pied</legend>
		    <ul>
		      <li ng-repeat="walkingValue in walkingValues">{{ walkingValue }}</li>
		    </ul>
		   	<a href="/"><button class="btn btn-info" data-ng-click="">+ d'infos</button></a>

	    	<!--p> Durée :
	    	<span>{{ durationWalking }}</span></p>
		
	    	<p> Distance :
	    	<span>{{ distanceWalking }}</span></p-->
		</fieldset>
	</div>
	<div class="span3">
	    <fieldset ng-hide="!bicyclingValues">
			<legend>A vélo</legend>
		    <ul>
		      <li ng-repeat="bicyclingValue in bicyclingValues">{{ bicyclingValue }}</li>
		    </ul>
		    <button class="btn btn-info" data-ng-click="">+ d'infos</button>
		</fieldset>
	</div>
	<div class="span3">
	    <fieldset ng-hide="!drivingValues">
	    	<legend>En voiture</legend>
		    <ul>
		      <li ng-repeat="drivingValue in drivingValues">{{ drivingValue }}</li>
		    </ul>
			<button class="btn btn-info" data-ng-click="">+ d'infos</button>
		</fieldset>
	</div>
	<div class="span3">
	    <fieldset ng-hide="!transitValues">
	    	<legend>En transport en commun</legend>
	    	<ul>
		      <li ng-repeat="transitValue in transitValues">{{ transitValue }}</li>
		    </ul>
			<button class="btn btn-info" data-ng-click="">+ d'infos</button>
		</fieldset>
	</div>
</div>
