<div class="span6">
    <!--h4>Parmi les moyens suivants : </h4>
	<ul>
		<li ng-repeat="transport in transportations">{{transport}}</li>
	</ul-->
	<form>
		<fieldset>
			<legend>Formulaire d'itinéraire</legend>
			<label>De : </label>
			<input data-ng-model="inputData.from" type="text" placeholder="Départ...">

			<label>A : </label>
			<input data-ng-model="inputData.to" type="text" placeholder="Arrivée...">

		</fieldset>

	    <button class="btn btn-primary" data-ng-click="searchNavigationGM()">Go !</button>

	</form>
	    <fieldset ng-hide="!durationWalking">
	    	<legend>A pied</legend>

	    	<p> Durée :
	    	<span>{{ durationWalking }}</span></p>
		
	    	<p> Distance :
	    	<span>{{ distanceWalking }}</span></p>
		</fieldset>

	    <fieldset ng-hide="!durationBicycling">
			<legend>A vélo</legend>

	    	<p> Durée :
	    	<span>{{ durationBicycling }}</span></p>

	    	<p> Distance :
	    	<span>{{ distanceBicycling }}</span></p>
		</fieldset>

	    <fieldset ng-hide="!durationDriving">
	    	<legend>En voiture</legend>
	    	
	    	<p> Durée :
	    	<span>{{ durationDriving }}

	    	<p> Distance :
	    	<span>{{ distanceDriving }}</span></p>
		</fieldset>

</div>
